<div class="row">
  <ngx-spinner
    bdColor="darkgray"
    size="large"
    type="ball-spin-clockwise">
  </ngx-spinner>
</div>
<div class="row">
  <div class="col-5">
    <div class="row mb-2">
      <div class="col-12">
        <app-listening-history-navigation></app-listening-history-navigation>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-listening-history-list></app-listening-history-list>
      </div>
    </div>
  </div>
  <div class="col-7">
    <app-listening-history-detail
      *ngIf="selectedItem"
      [item]="selectedItem"></app-listening-history-detail>
  </div>
</div>
