<div class="row">
  <div class="col-12">
    <div class="btn-toolbar list-group-item justify-content-center d-flex">
      <button class="btn btn-dark mr-1" type="button"
              [disabled]="currentPage < 2"
              (click)="goToPage(1)"> << </button>
      <button class="btn btn-dark mr-1" type="button"
              [disabled]="currentPage < 2"
              (click)="goToPage(currentPage - 1)"> < </button>
      <div class="form-inline mr-1 align-self-center">
        <label for="jumpToPage"></label>
        <input type="text"
               class="form-control"
               id="jumpToPage"
               [placeholder]="currentPage + '/' + numberOfPages"
               style="text-align:center;"
               (keyup.enter)="navigateByInput($event)">
      </div>
      <button class="btn btn-dark mr-1" type="button"
              [disabled]="currentPage === numberOfPages"
              (click)="goToPage(currentPage + 1)"> > </button>
      <button class="btn btn-dark mr-1" type="button"
              [disabled]="currentPage === numberOfPages"
              (click)="goToPage(numberOfPages)"> >> </button>
      <br>
    </div>
  </div>
</div>

