<br>
<app-listening-history-navigation></app-listening-history-navigation>
<hr>
<div class="row">
  <div class="col-12">
    <table class="table table-dark rounded">
      <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Artists</th>
        <th>Album</th>
        <th>Played At</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let item of listeningHistory"
        app-listening-history-item [item]="item"></tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
<app-listening-history-navigation></app-listening-history-navigation>

