<div class="row">
  <div class="col-12">
    <div class="btn-toolbar list-group-item justify-content-center d-flex">
      <button class="btn btn-dark mr-1" type="button" [disabled]="currentPage === 1"> << </button>
      <button class="btn btn-dark mr-1" type="button" [disabled]="currentPage === 1"> < </button>
      <form class="form-inline mr-1 align-self-center">
        <label for="jumpToPage"></label>
        <input type="text"
               class="form-control"
               id="jumpToPage"
               [placeholder]="currentPage + '/' + numberOfPages"
               style="text-align:center;">
      </form>
      <button class="btn btn-dark mr-1" type="button" [disabled]="currentPage === numberOfPages"> > </button>
      <button class="btn btn-dark mr-1" type="button" [disabled]="currentPage === numberOfPages"> >> </button>
      <br>
    </div>
  </div>
</div>

