<div class="row">
  <ngx-spinner
    bdColor="darkgray"
    size="large"
    type="ball-spin-clockwise">
  </ngx-spinner>
</div>
<div class="row" *ngIf="isLoggedIn">
  <div class="col-5">
    <div class="row mb-2">
      <div class="col-12">
        <app-most-played-navigation></app-most-played-navigation>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-most-played-list></app-most-played-list>
      </div>
    </div>
  </div>
  <div class="col-7">
    <div class="row mb-2">
      <div class="col-12">
        <app-most-played-detail></app-most-played-detail>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-most-played-query-builder></app-most-played-query-builder>
      </div>
    </div>
  </div>
</div>
